/* Content Block Cards Component */
.content-block-container {
  margin-bottom: 48px;
}

.content-block-container__title {
  font: var(--ig-typography-heading-large-bold);
  color: var(--ig-text-bold);
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .content-block-container__title {
    margin-bottom: 64px;
  }
}

.content-block-container__grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .content-block-container__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content-block-card {
  width: 100%;
  max-width: 360px;
  padding: 24px;
  border-radius: var(--ig-border-radius);
  box-shadow: 0px 0px 4px 0px rgba(48, 54, 66, 0.11),
    0px 2px 2px 0px rgba(48, 54, 66, 0.1);
  background: var(--ig-background-surface-on-clear-subtle);
  border: 1px solid var(--ig-border-soft);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-block-card {
    min-width: 330px;
    width: calc(50% - 12px);
  }
}

@media (min-width: 1024px) {
  .content-block-card {
    padding: 32px;
    min-width: 330px;
  }
}

@media (min-width: 1280px) {
  .content-block-card {
    min-width: 400px;
  }
}

.content-block-card__image-container {
  aspect-ratio: 1.64/1;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
  border-radius: var(--ig-border-radius);
}

@media (min-width: 1024px) {
  .content-block-card__image-container {
    margin-bottom: 32px;
  }
}

.content-block-card__content {
  display: flex;
  flex-direction: column;
}

.content-block-card__title {
  font: var(--ig-typography-heading-xsmall-bold);
  color: var(--ig-text-bold);
  margin-bottom: 4px;
}

@media (min-width: 1024px) {
  .content-block-card__title {
    margin-bottom: 12px;
  }
}

.content-block-card__description {
  font: var(--ig-typography-body-small-regular);
  color: var(--ig-text-medium);
  margin-bottom: 0;
  line-height: 1.25rem;
}

@media (min-width: 1024px) {
  .content-block-card__description {
    font: var(--ig-typography-body-large-regular);
    line-height: 2rem;
  }
}

.content-block-card__button {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .content-block-card__button {
    margin-top: 24px;
  }
}

@media (min-width: 1024px) {
  .content-block-card__button {
    margin-top: 32px;
  }
}

/* Variant classes */
.content-block-card--reverse {
  flex-direction: column-reverse;
}

.content-block-card--reverse .content-block-card__image-container {
  margin-bottom: 0;
  margin-top: 14px;
}

.content-block-card--wide {
  width: 100%;
  flex-direction: row-reverse;
  gap: 34px;
}

.content-block-card--wide .content-block-card__image-container {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.content-block-card--wide .content-block-card__content {
  width: 50%;
  align-self: center;
}

@media (min-width: 1024px) {
  .content-block-card--wide {
    gap: 56px;
  }
}